@import"../../config.scss";

.topBar {
    width: 100vw;
    height:90px;
    display: flex;
    align-items: center;
    .wrapper{
        width: inherit;
        display: inherit;
        align-items: inherit;
        justify-content: space-between;
        .left{
            padding-left:10px;
            @media (min-width: 576px) {
                padding: 16px 30px;
            }

            .name{
                font-size: 24px;
                font-weight: bold;
                @media (min-width: 576px) {
                    font-size: 36px;
                }
                user-select: none;
            }

        }
        .right{
            float:left;
            padding-right:10px;
            @media (min-width: 576px) {
                padding-right:30px;
            }
            .icon {
                color:gray
            }
        }
    }
    a{
        text-decoration: none;
        color:inherit;
    }
}
