@import"../../config.scss";

.portfolio {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-height:700px) {
        align-items: center;
        justify-content: flex-start;
      }
    .footer{
        justify-content: flex-end;
        @media (min-width: 320px) and (min-height: 630px) {
            position:absolute;
            bottom:10px;
          }
    }
    h1 {
        margin: 0px 10px;
        font-size: 24px;
        @media (min-width:750px) {
            margin: 0px 20px;
          }
          @media (min-height:700px) {
            font-size: 32px;
        }
    }
    .portItems{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:70%;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            color: inherit;
        }
    }

}
