@import"../../config.scss";

.portfolio {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-height:700px) {
        align-items: center;
        justify-content: flex-start;
      }
    .footer{
        justify-content: flex-end;
        @media (min-width: 320px) and (min-height: 630px) {
            position:absolute;
            bottom:10px;
          }
    }
    h1 {
        margin: 0px 10px;
        font-size: 24px;
        @media (min-width:750px) {
            margin: 0px 20px;
          }
          @media (min-height:700px) {
            font-size: 32px;
        }
    }
    .portItems{
        display: flex;
        justify-content: center;
        align-items: center;
        width:70%;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            color: inherit;
        }

        .item{
            width:180px;
            height:100px;
            margin: 5px;
            @media (min-width:750px) {
                width:220px;
                height:150px;
                margin: 20px;
              }
            border-radius: 20px;
            border:1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #3e72d3;
            color: rgb(219, 218, 218);
            transition: transform 350ms;
            &:hover {
                transform: translateY(-10px);
                cursor:pointer;
                p {
                    display: flex;
                    text-align: center;
                    margin: 5px 0;
                }
                h3 {
                    display: none;
                }
            }
            p {
                display: none;
            }
        }

    }

}
