.app{
    min-height: 100vh;

    .sections{
        width:100%;
        height: calc(100vh - 70px);
        background-color: coral;
        position: relative;
        top:70px;
        @media (min-width: 576px) {
            height: calc(100vh - 80px);
            top:80px;
        }
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
        scrollbar-width: 0;
        > *{
            width: 100vw;
            min-height: calc(100vh - 70px);
            @media (min-width: 576px) {
                min-height: calc(100vh - 80px);
            }
            scroll-snap-align: start;
        }
    }
}
